body {
  font: 20px "Lato", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-image: url("bg.jpg");
}

a {
  color: #00B7FF;
}

label {
	font-weight: normal;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.form-group label {
    float: middle;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}