<h1 align="center">Final Itinerary!</h1>
<div class="container" align="center">
  <table class="table"> 
    <thead>
        <tr> 
        	<td style="width:20%"> Time </td>
            <td style="width:20%"> Business   </td>
            <td style="width:10%"> Stars </td>
            <td style="width:20%"> Tip     </td>
            <td style="width:30%"> Review  </td>
        </tr>
    </thead>
    <!-- <td> Birthyear </td> -->
    <h3>Schedule:</h3>
    <tr ng-repeat="x in activities"> 
    	<td> {{$index*2+timeStart}}:00 - {{2+$index*2+timeStart}}:00 </td>
        <td> {{x.name}}     </td>
        <td> {{x.stars}} </td>
        <td> {{tips[x.name]}}    </td>
        <td> {{revs[x.name]}}    </td>
    </tr>
  </table>
</div>
<h3 align="center">
	Current Weather: {{weather}}, with a low of {{wLow}} &#176;C and a high of {{wHigh}} &#176;C
</h3>
