<h1 align="center">Final Itinerary!</h1>
<div class="container" align="center">
  <table class="table table-striped"> 
    <thead>
        <tr> 
            <td> Business   </td>
            <td> Stars </td>
            <td> Tip     </td>
            <td> Review  </td>
        </tr>
    </thead>
    <!-- <td> Birthyear </td> -->
    <h3>Schedule:</h3>
    <tr ng-repeat="x in data"> 
        <td> {{x.name}}     </td>
        <td> {{x.stars}} </td>
        <td> {{x.tip}}    </td>
        <td> {{x.review}}    </td>
    </tr>
  </table>
</div>
