<h1 align="center"> Your plan! </h1>
<span ng-show="breakfast!==undefined">
    <h3 align="center"> Breakfast </h3>
    <div align="center">{{breakfast.name}} : A {{breakfast.stars}}-star restaurant</div>
    <br>
    <div align="center"><button class="btn btn-primary" ng-click="Replace(x, 'Breakfast &amp; Brunch', -1)">Try Again</button>
    <button class="btn btn-primary" ng-click="breakfast = undefined">Remove</button></div>
</span>
<span ng-show="lunch !== undefined">
    <h3 align="center"> Lunch </h3>
    <div align="center">{{lunch.name}} : A {{lunch.stars}}-star restaurant</div>
    <br>
    <div align="center"><button class="btn btn-primary" ng-click="Replace(x, 'Restaurants', -2)">Try Again</button>
    <button class="btn btn-primary" ng-click="lunch = undefined">Remove</button></div>
</span>
<span ng-show="dinner !== undefined">
    <h3 align="center"> Dinner </h3>
    <div align="center">{{dinner.name}} : A {{dinner.stars}}-star restaurant</div>
    <br>
    <div align="center"><button class="btn btn-primary" ng-click="Replace(x, 'Restaurants', -3)">Try Again</button>
    <button class="btn btn-primary" ng-click="dinner = undefined">Remove</button></div>
</span>
<div class="container" align="center">
  <table class="table table-striped"> 
    <thead>
        <tr> 
            <td> Business   </td>
            <td> Categories     </td>
            <td> Stars  </td>
            <td> Replace? </td>
        </tr>
    </thead>
    <!-- <td> Birthyear </td> -->
    <h3>Activity Plan: </h3>
    <tr ng-repeat="x in data"> 
        <td> {{x.name}}     </td>
        <td> {{x.categories}} </td>
        <td> {{x.stars}}    </td>
        <td> <button class="btn btn-primary" ng-click="Replace(x, 'Food', $index)">Food</button> </td>
        <td> <button class="btn btn-primary" ng-click="Replace(x, 'Active Life', $index)">Active Life</button> </td>
        <td> <button class="btn btn-primary" ng-click="Replace(x, 'Arts &amp; Entertainment', $index)">Arts &amp; Entertainment</button> </td>
    </tr>
  </table>
</div>
<div align="center">
    <button class="btn btn-primary" ng-click="Finalize()">Finalize!</button>
</div>